.container {
  width: 960px;
  margin:  0 auto;
  margin-bottom: 10px;
  padding: 20px;
}

.open {
  border: 1px solid gray;
}



.img-container {
  display: flex;
  justify-content: center;
}

.text {
  width: 500px;
  margin: 50px 50px;
}

.span {
  width: 100%;
}
